{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <div class="row mx-2">
            <div class="col-12">
                <h1 class="heading text-center mt-3">About GizaBite</h1>
            </div>
            <div class="col-12 mb-0">
                <p class="mb-0">
                    Gizabite helps you easily identify allergens in your recipes and count the calories in
                    individual dishes. To identify allergens you simply need to select your ingredients 
                    from the suggestions list provided. Counting calories is just as quick and easy, as you
                    need only add the quantities to your ingredients.
                <br><br>
                    Calorific calculations and the identification of food allergens is done using data form
                    numerous sources including datasets from the USDA, McCance_Widdowsons CoFID 2021, ANSES-CIQUAL 
                    2020 and manufacturer information provided either on their own websites or those of
                    their distributors.
                <br><br>
                    <b>Disclaimer:</b> Owing to the nature of fresh foods and the prepartion of cooked foods,
                    it is impossible to provide an accurate calculation for the number of calories in a dish.
                    The results on this platform are provided as a guide only and allow for realistic
                    comparrisons by consumers to identify high and low calorie dishes.
                    <br><br>
                    Allergen identification is based upon known allergens in raw foods, plus data provided by 
                    manufacturers and distributors. To this end we are reliant upon the information provided
                    by those thrid parties.
                </p>
            </div>
        </div>
        <hr class="half-hr mx-auto">
    </div>

{% endblock %}