{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- {% for item in products %}
<h5>Product</h5>
<ul>
    <li>Name: {{ item.name }}</li>
    <li>EnergyKcal: {{ item.energy_kcal }}</li>
    <li>fat: {{ item.Fat }}</li>
    <li>protein: {{ item.Protein }}</li>
    <li>carbohydrates: {{ item.Carbohydrates }}</li>
    <li>salt: {{ item.Salt }}</li>
    <li>sugars: {{ item.Sugars }}</li>
    <li>fibre: {{ item.Fibre }}</li>
    <li>allergens: 
        <ul>
            {% for allergen in item.Allergens.all %}
            <li>{{ allergen.index }}, </li> 
            {% endfor %}
        </ul>
    </li>
</ul>
{% endfor %} -->
    <div class="container mx-auto">
        <div class="row mx-2">
            <div class="col-12">
                <h1 class="heading text-center mt-3">Help Us Test</h1>
            </div>
            <div class="col-12 mb-0">
                <p class="mb-0">Would you like to help us test GizaBite? We'd love for you to help with testing by 
                                using it on a daily basis and giving us your feedback and suggestions. If you'd 
                                like to help, just send us your name and email address.

                                Going forward functionality will include being able to save dishes, create menus
                                and generate PO's for your suppliers. 
                </p>
            </div>
            <div class="col-12 mb-0 mt-3">
                <form action="" method="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="mb-3 col-12 col-md-4 did-floating-label-content">
                            <input type="text" class="form-control input did-floating-input" id="name"  placeholder=" " aria-label="name" required>
                            <label for="name" class="form-label did-floating-label">First Name, Surname</label>
                        </div>
                        <div class="mb-3 col-12 col-md-4 did-floating-label-content">
                            <input type="text" class="form-control input did-floating-input" id="establishment"  placeholder=" " aria-label="name">
                            <label for="establishment" class="form-label did-floating-label">Establishment Name, City</label>
                        </div>
                        <div class="mb-3 col-12 col-md-4 did-floating-label-content">
                            <input type="email" class="form-control input did-floating-input" id="EmailAddress"  placeholder=" " aria-label="EmailAddress" required>
                            <label for="EmailAddress" class="form-label did-floating-label">Email address</label>
                            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                        </div>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="like_to_help_check">
                        <label class="form-check-label" for="like_to_help_check">I'd Like to Help</label>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="notify_me_check">
                        <label class="form-check-label" for="notify_me_check">Notify Me When Blah</label>
                      </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        
        <!-- <hr class="half-hr mx-auto"> -->
    </div>

    
    <hr class="max_width_500">

{% endblock %}