{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <div class="row mx-2">
            <div class="col-12">
                <h1 class="heading text-center mt-3">How To Use GizaBite</h1>
            </div>
            <div class="col-12 mb-0">
                <p class="mb-0">
                    In order to identify allergens it is necessary to provide all ingredients. To calculate
                    calories, it is necessary to indicate the amounts of those ingredients. 
                    <br><br>
                    <b>Ingredient Groups:</b> An ingredient group is primarily dictated by the cooking method
                        employed. Each one requires its own Cooking Method. For example: Fish and Chips 
                        with Mushy Peas. In this instance, the mushy peas will be cooked separately from the Deep
                        fried fish and chips and therefore require two ingredient groups. 
                    <br><br>
                    <b>Instructions for Use:</b>
                    <br><br>
                    <ol>
                        <li>Add Dish Name (Optional)</li>
                        <li>Add Number of Portions</li>
                        <li>If not already selected, choose your system of measurement</li>
                        <li>Add batch weight</li>
                        <li>Individual portion weight will populate automatically. However, you can make adjustments 
                            to it which will automatically update the Batch Amount field</li>
                        <li>Select the unit of measurement</li>
                        <li>Begin typing your ingredient and select from the options provided</li>
                        <li>Choose your cooking method and substrate</li>
                        <li>Click the "Add Ingredient" button and repeat steps 4 to 7 if required</li>
                        <li>CLick the "Add Ingredient Group" button and repeat steps 4 to 8 if required</li>
                    </ol>
                </p>
            </div>
        </div>
        <hr class="half-hr mx-auto">
    </div>

{% endblock %}