{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- {% for item in products %}
<h5>Product</h5>
<ul>
    <li>Name: {{ item.name }}</li>
    <li>EnergyKcal: {{ item.energy_kcal }}</li>
    <li>fat: {{ item.Fat }}</li>
    <li>protein: {{ item.Protein }}</li>
    <li>carbohydrates: {{ item.Carbohydrates }}</li>
    <li>salt: {{ item.Salt }}</li>
    <li>sugars: {{ item.Sugars }}</li>
    <li>fibre: {{ item.Fibre }}</li>
    <li>allergens: 
        <ul>
            {% for allergen in item.Allergens.all %}
            <li>{{ allergen.index }}, </li> 
            {% endfor %}
        </ul>
    </li>
</ul>
{% endfor %} -->
    <div class="container mx-auto">
        <h1 class="heading text-center mt-3">GizaBite M.V.P.</h1>

        <!-- Start of Form -->
        <form action="" method="">
            {% csrf_token %}
            <!-- Dish Name and Number of Portions/Batch Size -->
            <div class="container">
                <div class="row mx-2 mt-3">
                    <div class="col-md-8 col-12 did-floating-label-content">
                        <input type="text" class="form-control input did-floating-input" name="dish_name" placeholder=" " aria-label="DishName">
                        <label class="did-floating-label">Dish Name</label>
                    </div>
                    <div class="col-md-4 col-12 mt-md-0 mt-3 did-floating-label-content">
                        <input type="number" class="form-control input did-floating-input" id="number_of_portions" name="number_of_portions" placeholder=" " aria-label="NumberOfPortions">
                        <label class="did-floating-label">Number of Portions</label>
                    </div>
                </div>
            </div>
            <!-- Unit of Measurement Buttons-->
            <div class="container mx-auto max_width_500">
                <div class="measure_button_row row mt-3 mx-2">
                    <div class="col-6 pe-0">
                        <button type="button" class="form-control button measure_system_button" name="metric" aria-label="metric">Metric</button>
                    </div>
                    <div class="col-6 ps-0">
                        <button type="button" class="form-control button measure_system_button" name="imperial" aria-label="imperial">Imperial</button>
                    </div>
                </div>
            </div>

            <!-- Ingredients Group -->
            <!-- NOTE: Ideally this would be done using Include and Snippets. However, it's not
                 possible to use them in JS when we need to append and add new ingredient groups -->
            <div>
                <div class="page_banner mt-3">
                    <h2 class="ms-3">Recipe</h2>
                </div>

                <div id="ingredient_group_container">
                    <div class="ingredient_group" id="ingredient_group_1">
                        <!-- Ingredient Details -->
                        <div class="container ingredient_container">
                            <div class="row mx-2 ingredient_row">
                                <div class="col-md-2 mt-3 col-5 did-floating-label-content">
                                    <input type="number" class="form-control input batch_amount did-floating-input" name="batch_amount" placeholder=" " aria-label="BatchAmount"></input>
                                    <label class="did-floating-label">Batch Amount</label>
                                </div>
                                <div class="col-md-2 mt-3 col-5 ps-0 did-floating-label-content">
                                    <input type="number" class="form-control input portion_amount did-floating-input" name="portion_amount" placeholder=" " aria-label="PortionAmount"></input>
                                    <label class="did-floating-label">Portion Amount</label>
                                </div>
                                <div class="col-md-2 mt-3 col-2 ps-0 did-floating-label-content">
                                    <select class="form-select custom-select-icon pe-0 input did-floating-select" name="unit_of_measurement" onclick="this.setAttribute('value', this.value);" onchange="this.setAttribute('value', this.value);" value="">
                                        <option value=" "></option>
                                        <option value="1">g</option>
                                        <option value="1000">kg</option>
                                        <option value="1">ml</option>
                                        <option value="1000">l</option>
                                        <option value="pcs">pcs</option>
                                    </select>
                                    <label class="did-floating-label unit_of_measure_label">Unit</label>
                                </div>
                                <!-- Line 10 in home.js preventing this from working: $(this).next().empty() -->
                                <div class="col-md-5 mt-2 mt-md-3 col-11 did-floating-label-content">
                                    <input type="text" class="form-control input ingredient_name did-floating-input" name="dish_name" placeholder=" " aria-label="IngredientName"></input>
                                    <label class="did-floating-label">Ingredient Name</label>
                                    <ul class="suggestions-list"></ul>
                                </div>
                                <div class="mt-2 mt-md-3 col-1 px-0 delete_ingredient_icon_div">
                                    <div class="delete_ingredient" name="delete_ingredient" aria-label="delete_ingredient">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Cooking Method -->
                        <hr class="half-hr mx-auto">
                        <div class="container" id="add_cooking_method_container_1">
                            <div class="row mx-2" id="add_cooking_method_row_1">
                                <div class="col-md-6 mt-3 mt-md-2 col-12 did-floating-label-content cooking-method-container">
                                    <select class="form-select custom-select-icon pe-0 input did-floating-select" name="cooking_method" onclick="this.setAttribute('value', this.value);" onchange="this.setAttribute('value', this.value);" value="">
                                        <option value="">None</option>
                                        <option value=1>Boiled</option>
                                        <option value=1>Poached</option>
                                        <option value=1>Simmered / Stewed</option>
                                        <option value=1>Steamed</option>
                                        <option value=2>Sauteed / Pan Fried</option>
                                        <option value=2>Grilled / Broiled</option>
                                        <option value=3>Baked</option>
                                        <option value=2>Roasted </option>
                                        <option value=4>Braised </option>
                                        
                                    </select>
                                    <label class="did-floating-label cooking_method_label">Cooking Method</label>
                                </div>
                                <div class="col-md-6 mt-2 col-12 did-floating-label-content">
                                    <select class="form-select custom-select-icon pe-0 input did-floating-select"  name="substrate" onclick="this.setAttribute('value', this.value);" onchange="this.setAttribute('value', this.value);" value="">
                                        
                                    </select>
                                    <label class="did-floating-label substrate_label">Substrate</label>
                                </div>
                            </div>
                        </div>
                        <!-- Add Ingredient and Remove Ingredient Group Buttons-->
                        <div class="row">
                            <!-- Add Ingredients & Cooking Section -->
                            <div class="container mt-3 element-container mx-auto col-6 col-css pe-2 text-end">
                                <button type="button" class="button add_ingredient_button">Add Ingredient</button>
                            </div>
                            <!-- Remove Ingredient Group -->
                            <div class="container mt-3 element-container mx-auto col-6 col-css ps-2 text-start">
                                <button type="button" class="button remove_ingredient_group_button">Delete Group</button>
                            </div>
                        </div>
                        <hr class="max_width_500 mb-0">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Add New Ingredient Group -->
    <div class="container element-container mx-auto">
        <div class="row mt-3 mb-2 mx-2">
            <div class="col-8 col-css mx-auto text-center">
                <button class="add_ingredient_group_button">Add Ingredient Group</button>
            </div>
        </div>
    </div>

    <!-- Results Section -->
    <hr class="max_width_500">
    <div class="container mx-auto max_width_500">
        <div class="row mx-2">
            <div class="col">
                <h5>Calories per Serving:</h5>
                <div id="total_calories"></div>
            </div>
        </div>
        <div class="row mx-2">
            <div class="col">
                <h5>Allergens:</h5>
                <div id="total_allergens"></div>
            </div>
            
        </div>
    </div>
    <hr class="max_width_500">

    <div class="container">
        
    </div>

{% endblock %}