{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- {% for item in products %}
<h5>Product</h5>
<ul>
    <li>Name: {{ item.name }}</li>
    <li>EnergyKcal: {{ item.energy_kcal }}</li>
    <li>fat: {{ item.Fat }}</li>
    <li>protein: {{ item.Protein }}</li>
    <li>carbohydrates: {{ item.Carbohydrates }}</li>
    <li>salt: {{ item.Salt }}</li>
    <li>sugars: {{ item.Sugars }}</li>
    <li>fibre: {{ item.Fibre }}</li>
    <li>allergens: 
        <ul>
            {% for allergen in item.Allergens.all %}
            <li>{{ allergen.index }}, </li> 
            {% endfor %}
        </ul>
    </li>
</ul>
{% endfor %} -->
    <div class="container mx-auto">
        <h1 class="heading text-center mt-3">GizaBite M.V.P.</h1>
        <!-- Start of Form -->
        <form action="" method="">
            {% csrf_token %}
            <!-- Dish Name and Number of Portions/Batch Size -->
            <div class="container">
                <div class="row mx-2 mt-3">
                    <div class="col-md-8 col-12">
                        <input type="text" class="form-control" name="dish_name" placeholder="Dish Name" aria-label="DishName">
                    </div>
                    <div class="col-md-4 col-12 mt-md-0 mt-3">
                        <input type="number" class="form-control" id="number_of_portions" name="number_of_portions" placeholder="Batch Size (No. of Portions):" aria-label="NumberOfPortions">
                    </div>
                </div>
            </div>
            <!-- Unit of Measurement Butons-->
            <div class="container mx-auto max_width_500">
                <div class="measure_button_row row mt-3 mx-2">
                    <div class="col-6 pe-0">
                        <button type="button" class="form-control button" name="dish_name" aria-label="DishName">Metric</button>
                    </div>
                    <div class="col-6 ps-0">
                        <button type="button" class="form-control button" name="number_of_portions" aria-label="NumberOfPortions">Imperial</button>
                    </div>
                </div>
            </div>
            <!-- Ingredients Section -->
            <div>
                <div class="page_banner mt-3">
                    <h2 class="ms-3">Ingredients</h2>
                </div>

                <div id="ingredient_group_container">
                    <div class="ingredient_group" id="ingredient_group_1">
                        <div class="container ingredient_container">
                            <!-- Ingredient Details -->
                            <div class="row mx-2 ingredient_row">
                                <div class="col-md-6 mt-3 col-12">
                                    <input type="text" class="form-control ingredient_name" name="dish_name" placeholder="Ingredient Name" aria-label="IngredientName"></input>
                                    <ul class="suggestions-list"></ul>
                                </div>

                                <div class="col-md-2 mt-2 mt-md-3 col-5">
                                    <input type="number" class="form-control" name="batch_amount" id="batch_amount" placeholder="Batch" aria-label="BatchAmount"></input>

                                </div>
                                <div class="col-md-2 mt-2 mt-md-3 col-5">
                                    <input type="number" class="form-control" name="dish_name" placeholder="Portion" aria-label="PortionAmount"></input>
                                </div>
                                <div class="col-md-2 mt-2 mt-md-3 col-2 ps-0 ps-md-2">
                                    <select class="form-select pe-0" name="unit_select">
                                        <option value="g">g</option>
                                        <option value="kg">kg</option>
                                        <option value="pcs">Pcs</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Cooking Method -->
                        <div class="container" id="add_cooking_method_container_1">
                            <div class="row mx-2" id="add_cooking_method_row_1">
                                <div class="col-md-6 mt-2 col-12">
                                    <select class="form-select" name="cooking_method">
                                        <option value="" disabled selected>Cooking Method</option>
                                        <option value="Boiled">Boiled</option>
                                        <option value="Deep Fried">Deep Fried</option>
                                        <option value="Baked">Baked</option>
                                    </select>
                                </div>
                                <div class="col-md-6 mt-2 col-12">
                                    <select class="form-select" name="substrate">
                                        <option value="" disabled selected>Substrate</option>
                                        <option value="Vegetable Oil">Vegetable Oil</option>
                                        <option value="Stock">Stock</option>
                                        <option value="Butter">Butter</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Add Ingredients & Cooking Section -->
                        <div class="container element-container mx-auto">
                            <div class="row mt-3 mb-2 mx-2">
                                <div class="col-2 col-md-1 col-css">
                                    <button class="add_ingredient_button" type="button">Add Ingredient</button>
                                </div>
                            </div>
                        </div>
                        <hr class="max_width_500">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Add New Ingredient Group -->
    <div class="container element-container mx-auto">
        <div class="row mt-3 mb-2 mx-2">
            <div class="col-2 col-mb-1 col-css">
                <button class="add_ingredient_group_button">Add Ingredient Group</button>
            </div>
        </div>
    </div>

    <!-- Results Section -->
    <hr class="max_width_500">
    <div class="container mx-auto max_width_500">
        <div class="row mx-2">
            <div class="col">
                <h5>Calories per Serving:</h5>
                <div id="total_calories"></div>
            </div>
        </div>
        <div class="row mx-2">
            <div class="col">
                <h5>Allergens:</h5>
                <div id="total_allergens"></div>
            </div>
            
        </div>
    </div>
    <hr class="max_width_500">

    

{% endblock %}