{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- {% for item in product %}
<h5>Product</h5>
<ul>
    <li>Name: {{ item.product_name }}</li>
    <li>EnergyKjoules: {{ item.EnergyKjoules }}</li>
    <li>EnergyKcal: {{ item.EnergyKcal }}</li>
    <li>Fat: {{ item.Fat }}</li>
    <li>Protein: {{ item.Protein }}</li>
    <li>Carbohydrates: {{ item.Carbohydrates }}</li>
    <li>Salt: {{ item.Salt }}</li>
    <li>Sugars: {{ item.Sugars }}</li>
    <li>Fibre: {{ item.Fibre }}</li>
    <li>Allergens: 
        <ul>
            {% for allergen in item.Allergens.all %}
            <li>{{ allergen.index }}, </li> 
            {% endfor %}
        </ul>
    </li>
</ul>
{% endfor %} -->
    <div class="container mx-auto">
        <h1 class="text-center mt-3">GizaBite M.V.P.</h1>
        <!-- Start of Form -->
        <form action="" method="">
            {% csrf_token %}
            <!-- Dish Name and Number of Portions/Batch Size -->
            <div class="container">
                <div class="row mx-2 mt-3">
                    <div class="col-md-8 col-12">
                        <input type="text" class="form-control" name="dish_name" placeholder="Dish Name" aria-label="DishName">
                    </div>
                    <div class="col-md-4 col-12 mt-md-0 mt-3">
                        <input type="number" class="form-control" id="number_of_portions" name="number_of_portions" placeholder="Batch Size (No. of Portions):" aria-label="NumberOfPortions">
                    </div>
                </div>
            </div>
            <!-- Unit of Measurement Butons-->
            <div class="container mx-auto max_width_500">
                <div class="measure_button_row row mt-3 mx-2">
                    <div class="col-6 pe-0">
                        <button type="button" class="form-control button" name="dish_name" aria-label="DishName">Metric</button>
                    </div>
                    <div class="col-6 ps-0">
                        <button type="button" class="form-control button" name="number_of_portions" aria-label="NumberOfPortions">Imperial</button>
                    </div>
                </div>
            </div>
            <!-- Ingredients Section -->
            <div>
                <div class="page_banner mt-3">
                    <h2 class="ms-3">Ingredients</h2>
                </div>
                <div id="ingredient_group_1">
                    <div class="container" id="add_ingredient_container">
                        <!-- Ingredient Details -->
                        <div class="row mx-2" id="add_ingredient_row_1">
                            <div class="col-md-6 mt-3 col-12">
                                <input type="text" class="form-control" name="dish_name" placeholder="Ingredient Name" aria-label="IngredientName"></input>
                            </div>
                            <div class="col-md-2 mt-2 mt-md-3 col-5">
                                <input type="number" class="form-control" name="number_of_portions" id="number_of_portions" placeholder="Batch" aria-label="BatchAmount"></input>
                            </div>
                            <div class="col-md-2 mt-2 mt-md-3 col-5">
                                <input type="number" class="form-control" name="dish_name" placeholder="Portion" aria-label="PortionAmount"></input>
                            </div>
                            <div class="col-md-2 mt-2 mt-md-3 col-2 ps-0 ps-md-2">
                                <select class="form-select pe-0" name="unit_select">
                                    <option value="g">g</option>
                                    <option value="kg">kg</option>
                                    <option value="pcs">Pcs</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Cooking Method -->
                    <div class="container" id="add_cooking_method_row_1"></div>
                    <div id="post_cooking_method_hr"></div>
                </div>
                <div id="ingredient_group_2"></div>
            </div>
        </form>
    </div>

    <!-- Add Ingredients & Cooking Section -->
    <div class="container element-container mx-auto">
        <div class="row mt-3 mb-2 mx-2">
            <div class="col-2 col-md-1 col-css">
                <button><img src="{% static 'images/add_ingredient.png' %}" alt="add ingredient icon" class="non-round-icon" height="25px" onclick="add_ingredient()"></button>
            </div>
            <div class="col-2 col-mb-1 col-css">
                <button><img src="{% static 'images/cooking_method.png' %}" alt="cooking method icon" class="non-round-icon" height="25px" onclick="add_cooking_method()"></button>
            </div>
        </div>
    </div>

    <!-- Results Section -->
    <hr class="max_width_500">
    <div class="container mx-auto max_width_500">
        <div class="row mx-2">
            <div class="col-8">
                <h4>Calories per Serving:</h4>
            </div>
            <div class="col-4">
                <h4>2001 Kcal</h4>
            </div>
        </div>
        <div class="row mx-2">
            <div class="col-8">
                <h4>Allergens:</h4>
            </div>
            <div class="col-4">
                <h4>1, 4, 10</h4>
            </div>
        </div>
    </div>
    <hr class="max_width_500">


{% endblock %}